/.curseclient
/.probe
/.qmenu_opened.marker
/.vscode
/aes
/backups
/crash-reports
/downloads
/ESM
/journeymap
/local
/logs
/minecraftinstance.json
/modernfix
/observable_announce
/options.txt
/patchouli_books
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json