# Config
config/oculus.properties
config/quark-common.toml
config/oculus.properties
config/jade/plugins.json
config/fml.toml

# VSCode
!/.vscode
/.vscode/*
!/.vscode/*.code-workspace

# JEI
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/jei/world
emi.json
fancymenu_data/last_world.fmdata

/.curseclient
/.probe
/.qmenu_opened.marker
/aes
/backups
/crash-reports
/downloads
/ESM
/journeymap
/local
/logs
/minecraftinstance.json
/modernfix
/observable_announce
/options.txt
/patchouli_books
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json
/mods
/kubejs/config/probe-settings.json
/servers.dat
/servers.dat_old
cherishedworlds-favorites.dat
knownkeys.txt
user-prefs.json
config/spark/activity.json
profileImage/logo_square.png
fancymenu_data/default_scale_set.fm
