/.curseclient
/.probe
/.qmenu_opened.marker
/aes
/backups
/crash-reports
/downloads
/ESM
/journeymap
/local
/logs
/minecraftinstance.json
/modernfix
/observable_announce
/options.txt
/patchouli_books
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json
/mods
/kubejs/config/probe-settings.json
/servers.dat
/servers.dat_old
cherishedworlds-favorites.dat

# Config
/config/mm/pack/.cache
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/oculus.properties
config/jei/world/local/New_World
/config/quark-common.toml
/config/mm/pack/.cache
/config/oculus.properties
/config/jade/plugins.json
/config/jei/world


# VSCode
!/.vscode
/.vscode/*
!/.vscode/*.code-workspace

# JEI
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/world/local
